global:
  namespace: django-app

image:
  repository: "192.168.1.88:30500/django-app"
  tag: "latest"
  pullPolicy: IfNotPresent

app:
  replicas: 3
  serviceType: ClusterIP
  port: 8000
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  env:
    DEBUG: "False"
    ALLOWED_HOSTS: "*"
    DB_HOST: "postgresql-service"

postgresql:
  enabled: true
  database: "django_app"
  username: "django_user"
  password: "postgres_password_123"
  persistence:
    enabled: true
    size: 5Gi

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: django-app.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

monitoring:
 enabled: true
 serviceMonitor:
 enabled: true
